#logo {
    width: 80px;
    height: 110px;
}

body.black {
    background-color: black;
    color: white;
}

body.white {
    background-color: white;
    color: black;
}

header img{
    padding-top: 30px;
}
header h1{
    height: 150px;

    font-size: 50px;
}
.container{
    padding-top: 20px;
}
#control{
    margin-bottom: 40px;
}